body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.row {
    padding: 0;
    margin: 0;
}

.p-thirds {
    padding-left: 30px;
    padding-right: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}


/* Top banner */

#top-banner {
    height: 500px;
    padding-top: 0;
    background-image: url("../images/listening-lighter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.top-text {
    margin-top: 100px;
}

#sign-up-btn {
    margin-top: 10px;
}


/*#panel {
    background: rgba(122, 130, 136, 0.4);
    width: 70%;
    margin-left: 200px;
    height: 300px;
    border-radius: 25px;
}*/


/* Helping Students Banner */

#helping-banner {
    background: #f8f8f8;
    height: 330px;
    padding: 0;
    padding-top: 30px;
    height: 500px;
}


/* Experts Banner */

#experts-banner {
    padding: 0;
    height: 417px;
}

#expert-img {
    height: auto;
    width: 100%;
}

.col.s6.m6 {
    padding: 0;
}

#experts-text {
    padding: 20px;
    margin-top: 10px;
}

#p-text {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* How It Works Banner */

#works-banner {
    background-image: url("../images/chalkboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 0;
    padding-top: 30px;
    height: 400px;
}

.icon {
    height: 30px;
    width: auto;
    margin-top: 20px;
}


/* Volunteers Do It All Banner */

#all-banner {
    padding: 0;
    margin: 0;
    height: 440px;
    background: #f8f8f8;
}

#all-title {
    margin-top: 40px;
}

#officer-img {
    height: 440px;
}

#officer {
    padding: 0;
    margin: 0;
    height: 440px;
}

.margin-left {
    margin-left: 80px;
}

.margin-right {
    margin-right: 100px;
}

.margin-top-50 {
    margin-top: 50px;
}


.checks {
    list-style-image: url("../images/checkmark.png");
    margin-bottom: 20px;
    margin-top: 40px;
}

.bold {
    font-weight: bold;
}
